<!doctype>
<html>
    <head>
        <title>Create Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="text" name="name">
                    <button type="submit">Create</button>
                </form>
            </div>
        </main>
    </body>
    </html>
