<!doctype html>
<html>
    <head>
        <title>To-Do List Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>To-Do List: {{ todo_list.name }}</h1>

                <p>
                    <a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todos:todo_list_delete' todo_list.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todo_list.tasks.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todos:todo_item_update' task.id %}">{{ task.title }}</a>
                            </td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
    </html>
