<!doctype html>
<html>
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <div>
                    <p>
                        <a href="{% url 'todos:todo_item_create' %}">Create a new item</a>
                    </p>
                    <p>
                        <a href="{% url 'todos:todo_list_create' %}">Create a new list</a>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Numbers of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_list in todo_lists %}
                            <tr>
                                <td>
                                    <a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                                </td>
                                <td>{{ todo_list.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </body>
    </html>
